.entries {
    margin-bottom:15px;
}

.input-page {
    margin-top: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-bottom: 3px solid #000000;
    margin-bottom: 15px;
}